* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.pexels.com/photos/1484759/pexels-photo-1484759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  z-index:-1;
  position: relative;
}

@media screen and (max-width: 500px) {
  section {
    display: flex;
    flex-direction: column;
  }
  div.card1,
  div.card2,
  div.card3,
  div.card4 {
    margin: 30px auto;
  }
  .footer {
    margin: auto;
  }
  h1.header1 {
    display: block;
    margin: 2rem auto 0;
    padding:0.5rem;
  }
  h1.header2 {
    display: block;
    margin: auto;
    padding:0.5rem;
  }
  p.sub-head {
    display: block;
    margin: 0 auto 1rem;
    padding:0.5rem;
  }
  .footer {
    margin:auto;
    padding:1.5rem;
  }
}


@media screen and (min-width: 500px) {
  main{
    margin:5rem 7rem;
    box-shadow: 0 15px 15px hsl(229, 6%, 66%);
  }
  .main-content {
    display: grid;
    grid-template-columns: 1fr 385px 1fr;
    grid-template-rows: 1fr 700px;
  }
  .header {
    grid-column: 1/4;
  }
  .card1 {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
    margin: auto 0px auto auto;
    position: relative;
  }
  .mid-col {
    grid-column: 2/3;
    margin: 20px;
  }
  .card2 {
    margin: 35px auto;
  }
  .card3 {
    margin: 35px auto;
  }
  .card4 {
    grid-column: 3/4;
    margin: auto 0px;
  }
  h1.header1,
  h1.header2,
  p.sub-head {
    display: block;
    margin: auto;
    padding:0.5rem;
  }
  h1.header1{
    margin:5rem auto 0;
  }
  p.sub-head{
    width:450px;
  }
  .footer {
    margin:auto;
    padding:1.5rem;
  }
}

main{
  background-color: white;
}
/*header style*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

h1.header1,
h1.header2,
p.sub-head {
  text-align: center;
  font-family: "Poppins", sans-serif;
  }

h1.header1 {
  font-weight: 400;
  padding: 0.5rem;
  font-size: 25px;
  color: hsl(229, 6%, 66%);
}

h1.header2 {
  font-weight: 600;
  padding: 0.5rem;
  font-size: 25px;
}

p.sub-head {
  font-weight: 200;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
}

/*cards*/

div.card1,
div.card2,
div.card3,
div.card4 {
  display: block;
  width: 250px;
  height: 180px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 20px 25px hsl(229, 6%, 66%);
}

div.card1 {
  border-top: 5px solid hsl(180, 62%, 55%);
}

div.card2 {
  border-top: 5px solid hsl(0, 78%, 62%);
}

div.card3 {
  border-top: 5px solid hsl(34, 97%, 64%);
}

div.card4 {
  border-top: 5px solid hsl(212, 86%, 64%);
}

p.card-head {
  font-weight: 400;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
}

p.card-content {
  font-weight: 200;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  color: hsl(229, 6%, 66%);
}

.imgs {
  position: relative;
  bottom: -30px;
  right: -170px;
}

.imgs {
  display: block;
  margin-top: 0;
  margin-left: 0;
}

/*footer style*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
